:root {
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: width .5s, height .5s;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #0000;
    -webkit-app-region: drag;
}

.body {
    -webkit-app-region: drag;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border-radius: 10px;
    background-color: rgba(242, 242, 245, 0.95);
    backdrop-filter: blur(4px);
    border: 0.1px solid #000;
    overflow:hidden
}

.header {
    -webkit-app-region: no-drag;
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    display: flex;
    z-index: 9999999999999999;
}

#save, #open, #close, #max, #min {
    display: block;
    padding: 5px 15px;
    background: #fff0;
    height: 20px;
    transition: background-color .3s;
}

#max:hover, #min:hover, #save:hover, #open:hover {
    background: rgba(180, 180, 180, 0.68);
}

#close:hover {
    background-color: #e81123;
}

#close {
    border-top-right-radius: 10px;
}

#close:hover > svg {
    filter: invert(100%);
}

#close > svg, #max > svg, #min > svg, #save > svg, #open > svg {
    height: 15px;
    width: 15px;
    margin-top: -5px;
    transition: filter .3s;
}

#main {
    width: calc(100% - 80px) /*calc(100% - 300px)*/;
    margin-left: 10px;
    height: 100%;
}

.md-input:focus {
    outline: 0;
    background-color: #fafbfc !important;
}

.md-pre {
    display: flex;
    height: calc(100% - 2px);
}

.md-input, .md-output {
    background-color: #f1f3f5;
    -webkit-app-region: no-drag;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    overflow-x: auto;
    margin: 0;
    padding: 10px;
    max-width: 100%;
    border: 1px solid #ccc;
    width: 50%;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
    height: 100%;
}

.md-output {
    background-color: #fafafa !important;
}

.md-input {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.vditor-task {
    list-style: none;
}

code {
    border-radius: 5px;
    padding: 0;
}

.md-header, .md-h {
    -webkit-app-region: no-drag;
    background-color: white;
    position: fixed;
    width: auto;
    height: 30px;
    top: 3px;
    left: 80px  /*300px*/;
    padding: 2px 3px;
    z-index: 999999999;
    border-radius: 5px;
    box-shadow: 0 0px 32px 0 rgb(31 38 135 / 20%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.md-header > .button, .md-h > .button {
    background-color: white;
    border: 2px solid #f6f6f6;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 2px !important;
}

.md-header > .button > svg, .md-h > .button > svg {
    width: 20px;
    height: 20px;
    margin: auto;
}

.md-header > .button > svg > path, .md-h > .button > svg > path {
    fill: #737373;
}

.md-header > .button:hover, .md-h > .button:hover {
    background-color: rgba(200, 200, 200, 0.3);
}

.md-h {
    top: 45px;
    border-radius: 5px;
}

hr {
    border-style: double;
    border-radius: 5px;
    color: #545454;
}

em-emoji-picker {
    display: flex;
    position: fixed;
    top: 45px;
    left: 30%;
    z-index: 9999999999999999;
}

strong {
    font-weight: bold;
}

#nav_light {
    position: absolute;
    left: 10px;
    background-color: #0268c0;
    width: 5px;
    height: 40px;
    top: 23px;
    border-radius: 30px;
    transition: top .5s
}

.left-nav {
    width: 70px;
    margin-top: -37px;
    margin-left: 3px;
    -webkit-app-region: no-drag;
}

.nav-btn {
    background: #fff0;
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 8px;
}

.nav-btn>i{
    font-size: 30px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    color: #697070;
}

.nav-btn>p{
    margin: 0;
    position: relative;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -80%);
    color: #697070;
}
.can-hover.nav-btn:hover>i,.can-hover.nav-btn:hover>p{
    color: #000 !important;
}
.can-hover.nav-btn:hover{
    background: rgba(190, 190, 190, 0.51) !important;
}
